 
!! Transparency (0-1):
*.alpha: 0.8

!! Set a default font and font size as below:
*.font:xft:Hack NF:size=12

/* name		dark	light */
/* black	0	8 */
/* red		1	9 */
/* green	2	10 */
/* yellow	3	11 */
/* blue		4	12 */
/* purple	5	13 */
/* cyan		6	14 */
/* white	7	15 */

!! gruvbox: */
urxvt.color0: #1d2021
urxvt.color1: #cc241d 
urxvt.color2: #98971a 
urxvt.color3: #d79921 
urxvt.color4: #458588 
urxvt.color5: #b16286 
urxvt.color6: #689d6a 
urxvt.color7: #a89984 
urxvt.color8: #928374 
urxvt.color9: #fb4934 
urxvt.color10: #b8bb26 
urxvt.color11: #fabd2f 
urxvt.color12: #83a598 
urxvt.color13: #d3869b 
urxvt.color14: #8ec07c 
urxvt.color15: #ebdbb2 
urxvt.color256: #1d2021 
urxvt.color257: #ebdbb2 
*.background: #282828 
*.foreground: #EBDBB2

!! Apearence:
URxvt.cursorBlink: true
URxvt.scrollBar: false

