Config { 

    -- appearance
        font = "xft: JetBrains Mono:size=11:bold:antialias=true,file-icons:size=10, Font Awesome 5 Brands,Font Awesome 5 Brands Regular:style=Regular:size=10, Font Awesome 5 Free Solid:style=Solid:size=10",
             additionalFonts = [ 
			 				   	 "xft:Ubuntu Nerd Font Mono:pixelsize=13:bold:antialias=true",
								 "xft:file\\-icons:size=11"
								 ]
                 , bgColor =      "#002b36"
                 , fgColor =      "#93a1a1"
                 , position =     Top
                 , border =       BottomB
                 , borderColor =  "#073642"
                 , iconRoot = "/home/gabriel/.xmonad/xpm/"  -- default: "."

                 -- layout
                 , sepChar =  "%"   -- delineator between plugin names and straight text
                 , alignSep = "}{"  -- seqparator between left-right alignment
                 , template = " %UnsafeStdinReader% }{<fc=#073642>|</fc> %date% <fc=#073642>|</fc> %default:Master%<fc=#073642>|</fc> %bright% <fc=#073642>|</fc> %memory% <fc=#073642>|</fc> %battery%"


                 -- general behavior
                 , lowerOnStart =     True    -- send to bottom of window stack on start
                 , hideOnStart =      False   -- start with window unmapped (hidden)
                 , allDesktops =      True    -- show on all desktops
                 , overrideRedirect = True    -- set the Override Redirect flag (Xlib)
                 , pickBroadest =     False   -- choose widest display (multi-monitor)
                 , persistent =       True    -- enable/disable hiding (True = disabled)

                 -- plugins
                 --   Numbers can be automatically colored according to their value. xmobar
                 --   decides color based on a three-tier/two-cutoff system, controlled by
                 --   command options:
                 --     --Low sets the low cutoff
                 --     --High sets the high cutoff
                 --
                 --     --low sets the color below --Low cutoff
                 --     --normal sets the color between --Low and --High cutoffs
                 --     --High sets the color above --High cutoff
                 --
                 --   The --template option controls how the plugin is displayed. Text
                 --   color can be set by enclosing in <fc></fc> tags. For more details
                 --   see http://projects.haskell.org/xmobar/#system-monitor-plugins.
                 , commands = 

                 -- weather monitor
                 [ Run Weather "RJTT" [ "--template", "<skyCondition> | <fc=#4682B4><tempC></fc>°C | <fc=#4682B4><rh></fc>% | <fc=#4682B4><pressure></fc>hPa"
                 ] 36000

                     -- network activity monitor (dynamic interface resolution)
                     , Run DynNetwork     [ "--template" , "<fc=#8FBCBB><fn=1> </fn></fc><tx> <fc=#073642>|</fc> <fc=#D08770><fn=1></fn></fc> <rx>"
                     , "--Low"      , "1000"       -- units: B/s
                     , "--High"     , "5000"       -- units: B/s
                     , "--low"      , "#BF616A"
                     , "--normal"   , "#EBCB8B"
                     , "--high"     , "#A3BE8C"
                     , "-S"         , "True"
                     ] 10

                     -- cpu activity monitor
                     , Run MultiCpu       [ "--template" , "Cpu: <total0>%|<total1>%"
                     , "--Low"      , "50"         -- units: %
                     , "--High"     , "85"         -- units: %
                     , "--low"      , "#A3BE8C"
                     , "--normal"   , "#D08770"
                     , "--high"     , "#BF616A"
                     ] 10

                     --StdinReader
                     , Run UnsafeStdinReader

                     -- cpu core temperature monitor
                     , Run CoreTemp       [ "--template" , "Temp: <core0>°C|<core1>°C"
                     , "--Low"      , "70"        -- units: °C
                     , "--High"     , "80"        -- units: °C
                     , "--low"      , "#A3BE8C"
                     , "--normal"   , "#D08770"
                     , "--high"     , "#BF616A"
                     ] 50

                     -- Brightness
                     , Run Brightness ["-t", "<fc=#d33682></fc> <percent>%", "--"
                     ,"-D" ,"/sys/class/backlight/intel_backlight"  ] 1
                     -- memory usage monitor
                     , Run Memory         [ "--template" ,"<fc=#268bd2></fc> <usedratio>%"
                     ] 10
                     -- Volume monitor
        ,  Run Volume "default" "Master" [ "--template", "<status><volume>% "
                                         , "--","-o"    , " "
                                         , "--offc"    , "#cb4b16"
                                         , "-O"    , ""
                                         , "--onc"    , "#859900"
                                         , "-h"    , " "
                                         , "-m"    , " "
                                         , "-l"    , " "
                                         ] 1
 
        -- battery monitor
        , Run Battery        [ "--template" , "<acstatus>"
                             , "--Low"      , "10"        -- units: %
                             , "--High"     , "80"        -- units: %
                             , "--low"      , "#dc322f"
                             , "--normal"   , "#b58900"
                             , "--high"     , "#859900"

                             , "--" -- battery specific options
                                       -- discharging status
                                       , "-o"	, "<left>% (<timeleft>)"
                                       -- AC "on" status
                                       , "-O"	, "<fn=1></fn> <fc=#93a1a1>(<left>%)</fc>"
                                       -- charged status
                                       , "-i"	, "<fn=1></fn> <fc=#93a1a1>(<left>%) </fc>"
                             ] 50

        -- time and date indicator 
        --   (%F = y-m-d date, %a = day of week, %T = h:m:s time)
        , Run Date           "<fc=#b58900></fc> %H:%M<fc=#073642> | </fc><fc=#2aa198></fc> %a %b %d" "date" 10

        -- keyboard layout indicator
        , Run Kbd            [ ("us(dvorak)" , "<fc=#00008B>DV</fc>")
                             , ("us"         , "<fc=#8B0000>US</fc>")
                             ]
        ]
   }
